* {
    margin: 0;
    padding: 0;
}

/* 头部 */
header {
    li {

        &:nth-of-type(1),
        &:nth-of-type(2) {
            color: black;
        }

        &:nth-of-type(3) {
            color: #fe5341;
        }
    }
}

/* 正文部分 */
.guide {
    height: 1227px;

    .guideIn {
        position: relative;
        height: 1066px;
    }

    .guideInItem {
        margin-bottom: 35px;

        &:hover img:nth-of-type(1) {
            animation: appIn 2s linear infinite;
        }

        @keyframes appIn {
            0% {
                opacity: 0.4;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0.4;
            }
        }

        .guideInItemContext {
            p {
                /* 文本超出部分变省略号 */
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .playBottom,
    .playBottomload {
        position: absolute;
        bottom: -86px;
        width: 1000px;
        height: 86px;
        margin: auto;
        text-align: center;
        color: #fe5341;
        padding: 10px 0 50px;

        img {
            margin-right: 8px;
        }
    }

    .playBottomload {
        display: none;

        img {
            margin-right: 10px;
            vertical-align: top;
        }
    }
}