@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* 正文导航栏 */
nav a:nth-of-type(1) {
  color: inherit;
  border: none;
}

nav a:nth-of-type(2) {
  color: #fe5341;
  border-bottom: 5px solid #fe5341;
}
