@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

/* 头部 */
header li:nth-of-type(1) {
  color: black;
}

header li:nth-of-type(2) {
  color: #fe5341;
}

/* 正文标题 */
h1 {
  width: 1000px;
  height: 128px;
  line-height: 128px;
  text-align: center;
  margin: auto;
  font-weight: 400;
  font-size: 40px;
}

/* 正文导航栏 */
nav {
  width: 1000px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  margin: auto;
  font-size: 18px;
  color: #999;
}

nav a {
  display: inline-block;
  width: 165px;
  height: 43px;
  line-height: 43px;
  text-align: center;
}

nav a:nth-of-type(1) {
  color: #fe5341;
  border-bottom: 5px solid #fe5341;
}

/* 正文部分 */
.play {
  padding-top: 25px;
  height: 1240px;
}

.play .playIn .playBottom2,
.play .playIn .playBottomload1 {
  position: absolute;
  bottom: -120px;
  width: 1000px;
  height: 86px;
  margin: auto;
  text-align: center;
  color: #fe5341;
  padding: 10px 0 50px;
}

.play .playIn .playBottom2 img,
.play .playIn .playBottomload1 img {
  margin-right: 8px;
}

.play .playIn .playBottomload1 {
  display: none;
}

.play .playIn .playBottomload1 img {
  margin-right: 10px;
  vertical-align: top;
}

.play .playIn .playBottom1 {
  position: absolute;
  bottom: -1154px;
  width: 1000px;
  height: 86px;
  margin: auto;
  text-align: center;
  color: #fe5341;
  padding: 10px 0 50px;
}

.play .playIn .playBottom1 img {
  margin-right: 8px;
}

.play .playIn .itemContext > p:nth-of-type(1) {
  /* 文本超出部分变省略号 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
